
/* login page Style css */

/*navigation */
body{
  margin: 0;
  padding: 0;
}
.navigation{
  margin: 0;
  padding: 0;
  position: sticky;
}
#a1{
  text-decoration: none;
  color: white;
}  

  /* Google font family */
  .span1{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

.roomOrder_img{
  width: 70px;
  height: 45px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: -11px;
}
.navigation nav{
  background-color:darkolivegreen;
  border-radius: 0px 0px 25px 25px;
}
.navigation li{
  display: inline-block;
}

.navigation ul .s2{
  float: right;
}

.li2{
  padding-top:25px;
  padding-right: 15px;
}
.li3{
  padding-left: 20px;
  color: white;
}
.li3:hover{
  padding-left: 20px;
  color: white;
  animation: floatImage 0.3s ease-in-out 2;
}
#a2{
  text-decoration: none;
  font-size: 26px;
  font-weight: normal;
  color: white;
}
#a3{
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
  font-weight: normal;
  color: white;  
}
/* animation moveble image infinite  */ 
@keyframes floatImage{
  0%{
      transform: translateX(0);
  }
  25%{
    transform: translateX(-6px);
  }
  75%{
      transform: translateX(6px);
  }
  100%{
      transform: translateX(0);
  }
}
/* content styling */ 
.content{
  width: 550px;
  height: auto;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
  
  margin-bottom: 7%;
}
.content .child-content1 h1{
  font-size: 45px;
  font-weight: normal;
  margin-bottom: -10px;
  opacity: 0.8;
} 
.child-content1 p{
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.767);
  text-transform: uppercase;
}
.child-content1{
  text-align: left;
}
.content .child-content1 form{
  display: inline-block;
}
.content .child-content1 .button1{
  font-size: 17px;
  padding: 13px 42px;
  border-radius:27px;
  border: 1px solid darkolivegreen;
  background-color: darkolivegreen;
  color: white;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 50px;
}
.content .child-content1 .button2{
  font-size: 17px;
  padding: 13px 42px;
  border-radius: 27px;
  border: 1px solid ;
  background-color:royalblue; 
  color: white;
  margin-bottom: 50px;
}
.child-content2{
  text-align: left;
}
.child-content2 p{
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.767);
  text-transform: uppercase;
}
.child-content2 #label1{
  margin: 20px 80px 15px 0px;
  font-size: 13px;
  letter-spacing: 2px;
  color: gray;
  text-transform: uppercase;
}
.child-content2 #label2{
  margin: 15px 43px 15px 0px;
  font-size: 13px;
  letter-spacing: 2px;
  color: gray;
  text-transform: uppercase;
}
.child-content2 #input1{
  margin: 20px 0px 10px 0px;
  width: 350px;
  padding: 14px 25px 14px 25px;
  border-radius: 25px;
  border: 1px solid  transparent;
  background-color: rgba(128, 128, 128, 0.199);
}

.child-content2 input:focus{ /* sudo class selacter, currently elements has half focus */
  outline: transparent;
}

.child-content2 #input2{
  margin: 10px 0px 10px 0px;
  width: 350px;
  padding: 14px 25px 14px 25px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: rgba(128, 128, 128, 0.199);
} 
.child-content2 div{
  text-align: center;
  width:380px;
  float: right;
  margin-right: 5%;
  margin-top: 3%;
}
.child-content2 div span{
  display:  inline-block;
}
.child-content2 div .text1{
  font-size: 17px;
  color: gray;
  float: left;
}
.child-content2 div .text2{
  font-size: 17px;
  color: gray;
  float: right;
}
.child-content2 div a{
  text-decoration: none;
  font-size: 19px;
  color: darkolivegreen;
  font-weight: normal;
  letter-spacing: -2px;
  word-spacing: -1px;
}  

.child-content2 .button3{
  font-weight: bold;
  font-size: 17px;
  padding: 12px 80px;
  margin: 40px 0px 0 140px;
  border: 1px solid transparent;
  background-color: darkolivegreen;
  color: white;
  border-radius: 40px;
  float: left;
}
.child-content2 .button3:hover{
  border-color: darkolivegreen;
  color: darkolivegreen;
  background-color: transparent;
  transition: 0.9s;
}
.child-content2 button{
  font-weight: bold;
  font-size: 17px;
  border: 1px solid transparent;
  background-color: darkolivegreen;
  color: white;
  border-radius: 40px;
}
.child-content2 button:hover{
  border-color: darkolivegreen;
  color: darkolivegreen;
  background-color: transparent;
  transition: 0.9s;
}
.child-content3{
  text-align: left;
}
.child-content3 h2{
  margin-top: 30%;
}
.child-content3 h1{
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 0;
  font-weight: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.8;
}
.child-content3 p{
  font-size: 16px;
  color: gray;
  letter-spacing: 0x;
}
.child-content3 button{
  font-weight: normal;
  font-size: 17px;
  padding: 12px 80px;
  margin-top: 2%;
  border: 1px solid darkolivegreen ;
  background-color: transparent;
  color: darkolivegreen;
  border-radius: 40px;
}
.child-content3 button:hover{
  color: black;
  border-color: black;
  background-color: white;
  transition: 0.8s;
}

/* last link styling */

.content1 ul li a{
  float: left;
  font-size: 20px;
  color: gray;
  margin: 4% 1.5% 4% 1.5%; 

  font-family: dancing script;
}
.content1 ul li a:hover{
  color: black;
  transition: 0.8s;
}
.content1 ul li{
  list-style-type: none;
}

@media (max-width: 768px){
  .roomOrder_img{
    display: none;
  }
  .content{
    width: 95%;
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-bottom: 13%;
  }
  .content .child-content1 h1{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: -10px;
    opacity: 0.8;
  } 
  .child-content1 p{
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.767);
    text-transform: uppercase;
  }
  .child-content1{
    text-align: left;
  }
  .content .child-content1 form{
    display: inline-block;
  }
  .content .child-content1 .button1{
    font-size: 17px;
    padding: 13px 42px;
    border-radius:27px;
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    color: white;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 14px;
    width: 90%;
  }
  .content .child-content1 .button2{
    font-size: 17px;
    padding: 13px 42px;
    border-radius: 27px;
    border: 1px solid ;
    background-color:royalblue; 
    color: white;
    margin-bottom: 14px;
    width: 90%;
  }
  .child-content2{
    text-align: left;
  }
  .child-content2 p{
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.767);
    text-transform: uppercase;
  }
  .child-content2 #label1{
    margin: 20px 80px 0 0;
    font-size: 13px;
    letter-spacing: 2px;
    color: gray;
    text-transform: uppercase;
    float: left;
    margin-left: 4%;
  }
  .child-content2 #label2{
    margin: 15px 43px 0 0;
    font-size: 13px;
    letter-spacing: 2px;
    color: gray;
    text-transform: uppercase;
    float: left;
    margin-left: 4%;
  }
  .child-content2 #input1{
    margin: 10px 0px 10px 0px;
    width: 80%;
    padding: 14px 25px 14px 25px;
    border-radius: 25px;
    border: 1px solid  transparent;
    background-color: rgba(128, 128, 128, 0.199);
  }
  
  .child-content2 input:focus{ /* sudo class selacter, currently elements has half focus */
    outline: transparent;
  }
  
  .child-content2 #input2{
    margin: 10px 0px 10px 0px;
    width: 80%;
    padding: 14px 25px 14px 25px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: rgba(128, 128, 128, 0.199);
  } 
   
  .child-content2 div{
    text-align: center;
    width:89%;
    float: right;
    margin-right: 5%;
    margin-top: 3%;
  }
  .child-content2 div span{
    display:  inline-block;
  }
  .child-content2 div .text1{
    font-size: 15px;
    color: gray;
    float: left;
  }
  .child-content2 div .text2 a{
    font-size: 15px;
    color: gray;
    float: right;
    letter-spacing: -1px;
  }
  .child-content2 div a{
    text-decoration: none;
    font-size: 19px;
    color: darkolivegreen;
    font-weight: normal;
    letter-spacing: -2px;
    word-spacing: -1px;
  }  
  .child-content2 .button3{
    font-weight: bold;
    font-size: 17px;
    padding: 12px 0;
    margin: 5% 0 0 6% ;
    border: 1px solid transparent;
    background-color: darkolivegreen;
    color: white;
    border-radius: 40px;
    text-align: center;
    width: 88%;
  }
  .child-content2 .button3:hover{
    border-color: darkolivegreen;
    color: darkolivegreen;
    background-color: transparent;
    transition: 0.9s;
  }
  .child-content2 button{
    font-weight: bold;
    font-size: 17px;
    padding: 12px 80px;
    margin: 30px 0px 50px 130px;
    border: 1px solid transparent;
    background-color: darkolivegreen;
    color: white;
    border-radius: 40px;
  }
  .child-content2 button:hover{
    border-color: darkolivegreen;
    color: darkolivegreen;
    background-color: transparent;
    transition: 0.9s;
  }
  .child-content3 h1{
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 0px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
  }
  .child-content3 p{
    font-size: 16px;
    color: gray;
    letter-spacing: 0x;
  }
  .child-content3 button{
    font-weight: normal;
    font-size: 17px;
    padding: 12px 80px;
    border: 1px solid darkolivegreen ;
    background-color: transparent;
    color: darkolivegreen;
    border-radius: 40px;
    margin-left: 0px;
    width: 88%;
    text-align: center;
  }
  .child-content3 button:hover{
    color: black;
    border-color: black;
    background-color: white;
    transition: 0.8s;
  }
  .child-content3 .rig-b{
    text-align: center;
  }
  /* last link styling */
  .content1 {
    margin: 0 ;
  }
  .content1 ul li a{
    float: left;
    font-size: 17px;
    color: gray;
    margin: 14% 5% 14% 0;   font-family: dancing script;
  }
  .content1 ul li a:hover{
    color: black;
    transition: 0.8s;
  }
  .content1 ul li{
    list-style-type: none;
  }
}